<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <title>hideakifolio</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="move"><div class="item shake"></div></div>
        <p class="site-title-sub">welcome hide page</p>
        <h1 class="site-title">HIDE works</h1>
        <ul class="menu">
            <li><a href="#">about me</a></li>
            <li><a href="#">product</a></li>
            <li><a href="#">skills</a></li>
            <li><a href="#">contact</a></li>
        </ul>
    </header>

    <section class="about">
        <h2 class="heading">ABOUT me</h2>
        <P class="text">はじめまして、高橋秀明と申します！<br>
            私は、半年前にプログラミングを初めました。今出来る言語としては、HTML,CSS,Ruby,Railsがあります！</P>
    </section>

    <section class="works">
        <h2 class="heading">PRODUCT</h2>
        <div class="works-wrapper">
            <div class="work-box">
                <img class="work-image" src="img/963199_l.jpg" alt="画像">
                <P>aaaaaaa</P>
            </div>
            <div class="work-box">
                <img class="work-image" src="img/963199_l.jpg" alt="画像">
                <P>aaaaaaa</P>
            </div>
            <div class="work-box">
                <img class="work-image" src="img/963199_l.jpg" alt="画像">
                <P>aaaaaaa</P>
            </div>
            <div class="work-box">
                <img class="work-image" src="img/963199_l.jpg" alt="画像">
                <P>aaaaaaa</P>
            </div>
        </div>
        <!-- <div class="works-wrapper">
            <div class="work-box">
                <img class="work-image" src="img/963199_l.jpg" alt="画像">
                <P>aaaaaaa</P>
            </div>
            <div class="work-box">
                <img class="work-image" src="img/963199_l.jpg" alt="画像">
                <P>aaaaaaa</P>
            </div>
            <div class="work-box">
                <img class="work-image" src="img/963199_l.jpg" alt="画像">
                <P>aaaaaaa</P>
            </div>
            <div class="work-box">
                <img class="work-image" src="img/963199_l.jpg" alt="画像">
                <P>aaaaaaa</P>
            </div>
            
             -->
        </div>
    </section>

    <section class="skills">
        <h2 class="heading">my skills</h2>
        <div class="skills-wrapper">
            <div class="skill-box">
                <i class="fab fa-html5"></i>
                <div class="skill-title">アイデア</div>
                <P class="skill-text">aaaaaa</P>
            </div>
            <div class="skill-box">
                <i class="fab fa-css3-alt"></i>
                <div class="skill-title">アイデア</div>
                <P class="skill-text">aaaaaa</P>
            </div>
            <div class="skill-box">
                <i class="fab fa-java"></i>
                <div class="skill-title">アイデア</div>
                <P class="skill-text">aaaaaa</P>
            </div>
            <div class="skill-box">
                <i class="fab fa-github"></i>
                <div class="skill-title">アイデア</div>
                <P class="skill-text">aaaaaa</P>
            </div>
        </div>
    </section>

    <section class="contact">
        <h2 class="heading">CONTACT</h2>
        <form class="contact_form">
            <input type="text" name="name">
            <textarea name="message"></textarea>
            <input type="submit" value="SEND">
        </form>
        </form>
    </section>

    <footer class="footer">
        
    </footer>
    
</body>
</html>